[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = ">=20.0"
google-generativeai = ">=0.3.0"
pillow = "*"
google-cloud-vision = "*"
python-ffmpeg = "*"
google-cloud-speech = "*"
vosk = "*"

[dev-packages]

[requires]
python_version = "3.13"
