[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = ">=20.0"
pillow = "*"
google-cloud-vision = "*"
python-ffmpeg = "*"
google-cloud-speech = "*"
vosk = "*"
google-cloud-texttospeech = "*"
openai = ">=1.0.0"
gtts = "*"
dotenv = "*"

[dev-packages]
pytest = "*"
ruff = "*"

[requires]
python_version = "3.13"
